{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="container h-100 mt-3">
    <div class="row h-100">
      <!-- Left column: Headline, description, etc. -->
      <div class="col-12 col-md-6 mt-5 my-auto">
        <h1 class="main-page-content display-4 logo-font text-light">
          <strong>Delivering Bristol's Best Ramen to your Door!</strong>
        </h1>
        <h4 class="text-white mt-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        {% if order_window %}
          <div class="alert alert-info text-center my-3 mt-5"> <!-- Previuosly order-status -->
            {{ order_window.ordering_message }}
          </div>
        {% endif %}
      </div>
      <!-- Right column: Shop Now button -->
      <div class="col-12 col-md-6 mt-5 text-md-right text-center">
        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-1 text-uppercase py-3">
          Slurp Now!
        </a>
      </div>
    </div>
  </div>
{% endblock %}
