<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-font logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Everything Ramen</strong>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ramen-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Ramen</strong>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ramen-link">
                <a href="{% url 'products' %}?category=meat_ramen" class="dropdown-item">Meat</a>
                <a href="{% url 'products' %}?category=veg_ramen" class="dropdown-item">Vegetarian</a>
                <a href="{% url 'products' %}?category=vegan_ramen" class="dropdown-item">Vegan</a>
                <a href="{% url 'products' %}?category=meat_ramen,veg_ramen,vegan_ramen" class="dropdown-item">All Ramen</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=sides" id="sides-link" data-toggle="" aria-haspopup="" aria-expanded="false">
                <strong>Sides</strong>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font logo-font font-weight-bold nav-link text-black mr-5" href="#" id="merch-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Merchandise</strong>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="merch-link">
                <a href="{% url 'products' %}?category=t_shirts" class="dropdown-item">Ramen Nakama T-Shirts</a>
                <a href="{% url 'products' %}?category=tea_towels" class="dropdown-item">Tea Towels</a>
                <a href="{% url 'products' %}?category=t_shirts,tea_towels" class="dropdown-item">All Merchandise</a>
            </div>
        </li>

        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-font logo-font font-weight-bold nav-link text-black" href="{% url 'submit_review' %}"><strong>Leave a Review</strong></a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-font logo-font font-weight-bold nav-link text-black" href="{% url 'account_login' %}?next={% url 'submit_review' %}"><strong>Leave a Review</strong></a>
            </li>
        {% endif %}
    </ul>
</div>